.projects {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: var(--color-dark);
  padding: 0 6rem;
}

.projects__header {
  padding: 6rem 1.5rem;
  min-width: 400px;
}

/* Media Queries */
@media screen and (max-width: 1650px) {
  .projects {
    flex-direction: column;

    padding: 4rem 6rem;
  }

  .projects__header .header__background-subtitle {
    font-size: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .projects {
    padding: 4rem 0;
  }

  .projects__header {
    position: relative;

    min-width: 300px;
  }

  .projects__header .header__background-subtitle {
    font-size: 3rem;
  }
}
