.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__subtitle {
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  padding: 1rem;
}

.header svg {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-grey);
}

.header__title {
  font-size: 4rem;
  font-family: var(--roboto-font);
  color: var(--color-gold);
  padding: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

@media screen and (max-width: 1150px) {
  .header {
    text-align: center;
    align-items: center;
  }

  .header__subtitle {
    font-size: 1.25rem;
  }

  .header svg {
    margin-left: 0;
  }

  .header__title {
    font-size: 3rem;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 650px) {
}
