/* Navbar and Sidebar shared styles */
.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;

  width: 240px;
  height: 100%;
  padding: 4rem 2rem;
}

.vertical {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

/* Navbar styles */
.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-black);
  border: 1px solid rgba(255, 255, 255, 0.35);
  transition: border 0.5s;
}

.navbar__links:hover {
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.navbar__links-dash {
  width: 80%;
  height: 1px;
  background-color: var(--color-white);
  opacity: 0.35;
  transition: opacity 0.5s;
}

.navbar__links li {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  opacity: 0.35;
  transition: opacity 0.5s;
}

.navbar__links li:hover,
.navbar__links li:hover + .navbar__links-dash {
  opacity: 1;
}

.navbar__vertical-dash {
  width: 1px;
  height: 80%;
  background-color: var(--color-gold);
}

/* Sidebar styles */
.sidebar {
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;
}

.sidebar-logo {
  color: var(--color-gold);
  font-size: 6rem;
}

.sidebar__vertical-dash {
  width: 1px;
  height: 80%;
  background-color: var(--color-white);
}

.sidebar__social {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.sidebar__social svg {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s;
}

.sidebar__social svg:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Navbar medium screen styles */
.navbar__medium {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  padding: 1rem;
  background-color: rgba(12, 12, 12, 0);
  transition: background-color 0.5s;
}

.navbar__medium:hover {
  background-color: rgba(12, 12, 12, 0.8);
}

.navbar__medium-logo {
  color: var(--color-gold);
  font-size: 4rem;
  margin-left: 1rem;
}

.navbar__medium-links {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.navbar__medium-links li {
  font-size: 1.25rem;
  padding: 0 2rem;
  opacity: 0.25;
  transition: all 0.5s;
}

.navbar__medium-links li:hover {
  opacity: 1;
  color: var(--color-gold);
}

/* Navbar small screen styles */
.navbar__small {
  display: none;
  position: fixed;
  z-index: 1000;

  width: 100%;
  height: 117px;
  background-color: rgba(12, 12, 12, 0);
  transition: background-color 0.5s;
}

.navbar__small:hover {
  background-color: rgba(12, 12, 12, 0.8);
}

.navbar__small-logo {
  position: fixed;

  font-size: 4rem;
  color: var(--color-gold);
  padding: 1rem 2rem;
  cursor: pointer;
}

.navbar__small-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;
  background: var(--color-black);
  opacity: 0.99;
  transition: 0.5s ease;
}

.navbar__small-close {
  position: absolute;
  top: 1rem;
  left: 2rem;

  color: var(--color-gold);
  font-size: 4rem;
  cursor: pointer;
}

.navbar__small-links li {
  font-size: 3rem;
  font-family: var(--roboto-font);
  font-weight: bold;
  color: var(--color-gold);
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin: 2rem;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.5s;
}

.navbar__small-links li:hover {
  color: var(--color-white);
}

/*  Media Queries */
@media screen and (max-width: 1450px) {
  .navbar,
  .sidebar {
    display: none;
  }

  .navbar__medium {
    display: flex;
  }
}

@media screen and (max-width: 1150px) {
  .navbar__medium {
    display: none;
  }

  .navbar__small {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar__small {
    height: 96px;
  }

  .navbar__small-logo {
    font-size: 3rem;
    padding: 1rem 2rem;
  }

  .navbar__small-close {
    top: 1rem;
    left: 2rem;

    font-size: 3rem;
  }

  .navbar__small-links li {
    font-size: 2.5rem;
  }
}
