.landing {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-black);
  min-height: 100vh;
}

.landing__wrapper {
  position: relative;
}

.landing__container {
  position: relative;
  z-index: 100;

  background-color: var(--color-black);
  padding: 1.5rem;
}

.landing__wrapper::before,
.landing__wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;

  width: 40px;
  height: 40px;
  background-color: var(--color-gold);
}

.landing__wrapper::before {
  bottom: -0.75rem;
  left: -0.75rem;
}

.landing__wrapper::after {
  top: -0.75rem;
  right: -0.75rem;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  .landing__wrapper::before,
  .landing__wrapper::after {
    display: none;
  }
}
