.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 240px;
  height: 100%;
  padding: 4rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar__logo {
  color: var(--color-golden);
  font-size: 6rem;
}

.sidebar-dash {
  width: 80%;
  height: 1px;
  background-color: var(--color-white);
}

.sidebar__vertical {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__vertical-dash {
  width: 1px;
  height: 80%;
  background-color: var(--color-white);
}

.sidebar__social {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.sidebar__social svg {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s;
}

.sidebar__social svg:hover {
  opacity: 1;
  transform: scale(1.1);
}
