@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --roboto-font: "Roboto", "sans-serif";
  --opensans-font: "Open Sans", "sans-serif";

  --color-gold: #dcca87;
  --color-black: #0c0c0c;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;

  --color-dark: hsl(206, 4%, 6%);
  --text-gradient: linear-gradient(hsl(206, 4%, 24%), hsl(2006, 4%, 8%));

  --color-gray: #545454;
  --color-crimson: #f5efdb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}
