.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-dark);
  min-height: 100vh;
  padding: 6rem 6rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 1.5rem;
  padding-right: 5rem;
}

.background-subheading {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 5rem;
  font-family: var(--opensans-font);
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 5rem;

  width: 100%;
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0.2;
}

.about__description {
  padding: 1rem;
  line-height: 2rem;
}

.about__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.about__img {
  position: relative;

  width: 440px;
}

.about__img img {
  position: relative;
  z-index: 100;

  width: 100%;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.about__img::before,
.about__img::after {
  content: "";
  position: absolute;
  z-index: 1;

  width: 360px;
  height: 360px;
  background-color: var(--color-gold);
}

.about__img::before {
  top: -1rem;
  left: -1rem;
}

.about__img::after {
  bottom: -1rem;
  right: -1rem;
}

@media screen and (max-width: 1600px) {
  .about__img-wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1150px) {
  .about {
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .about__container {
    max-width: 472px;
    padding: 0;
  }

  .background-subheading {
    font-size: 3.5rem;
    top: -1.5rem;
    text-align: center;
  }

  .about__description {
    text-align: center;
  }

  .about__img-wrapper {
    margin-top: 2rem;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .about {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .about__container {
    padding: 1.5rem 0;
  }

  .background-subheading {
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    top: 0;
  }

  .about__img::before,
  .about__img::after {
    display: none;
  }
}
