.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-dark);
  min-height: 100vh;
  padding: 4rem 6rem;
}

.about__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.background-subheading {
  position: absolute;
  font-size: 5rem;
  font-family: var(--opensans-font);
  background: var(--text-gradient);
  opacity: 0.2;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 5rem;
  top: 0;
  left: 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
}

.about__img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img {
  width: 480px;
  position: relative;
}

.about__img img {
  width: 100%;
  position: relative;
  z-index: 100;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.about__img .leftcorner-cut {
  top: -0.75rem;
  left: -0.75rem;
  width: 50px;
  height: 50px;
}

.about__img .rightcorner-cut {
  top: unset;
  width: 50px;
  height: 50px;
  bottom: -0.65rem;
  right: -0.95rem;
}

.about__description {
  padding: 1rem;
  line-height: 2rem;
}

@media screen and (max-width: 1600px) {
  .about__img-wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1150px) {
  .about {
    flex-direction: column;
    padding: 4rem 3rem;
  }

  .about__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__img-wrapper {
    margin-top: 2rem;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .about {
    padding: 4rem 0;
  }
}
